# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart
*.freezed.dart
flutter_*.png
pubspec.lock

# Backend
backend/node_modules/
backend/.env
backend/dist/

# AI Service
ai_service/__pycache__/
ai_service/.env
ai_service/venv/

# General
.DS_Store
*.log
.env
